
.yt {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	&::before {
		// カバーかけるとき
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}
}
.yt-video {
	position: absolute;
	top: 50%;
	left: 50%;
	// max-width: none; // リセットでmax-width適用しているときとき
	width: 177.77777778vh;
	min-width: 100%;
	height: 56.25vw;
	min-height: 100%;
	translate: -50% -50%;
}






// 以下レイアウトのためのスタイル
body {
	margin: 0;
}

.kv {
	display: grid;
	place-items: center;
	height: 100svh;
	color: #fff;
	text-align: center;
}

.content {
	height: 2000px;
	background: #fff;
}
